Hier alle vorbereitungen für x-fold cross validation inkl. dem anschließenden spreichern der vorbereiteten binarized datensätzen

In [1]:
import os
import pandas as pd
from helpers.helpers import preprocess_numerical, move_targets_to_front_and_rename, make_data_binary

# test dataset

In [12]:
train_data = pd.read_csv("datasets/example_datasets/train.csv")
test_data = pd.read_csv("datasets/example_datasets/test.csv")

stacked = pd.concat([train_data, test_data], ignore_index=False)

#stacked.to_csv('datasets/example_datasets/stacked.csv', index=False)

# adult dataset

In [4]:
# Load your training and test datasets
train_data = pd.read_csv("datasets/adult/adult.data", sep=',', skipinitialspace=True, header=None) #32561 rows
test_data = pd.read_csv("datasets/adult/adult.test", sep=',', skipinitialspace=True, header=None) #16281 rows


# Remove dots from the 'target' column
test_data[14] = test_data[14].astype(str).str.replace('.', '', regex=False)

len_train_data = len(train_data)

stacked = pd.concat([train_data, test_data ], ignore_index=False)
#print(stacked)


stacked = preprocess_numerical(stacked, target_label=14)
stacked = move_targets_to_front_and_rename(data= stacked, target_label=14)

unique_values = stacked['y'].unique()
print(unique_values) # hier sieht man dann, dass es einen zusätzlichen punkt bei den target labels in adult.test gibt; also ohne löschen des punktes

target_vals_col_orig = stacked['y']


stacked = make_data_binary(stacked)
print(stacked)

#stacked.to_csv('datasets/adult/stacked.csv', index=False)

target_vals_col_bin = stacked['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/adult/mapping_transformation.csv', index=False)

['<=50K' '>50K']
       y  1  2  3  4  5  6  7  8  9  ...  112  113  114  115  116  117  118  \
0      1  1  0  0  1  0  0  0  0  0  ...    0    0    0    0    0    0    0
1      1  1  0  0  0  1  0  0  0  0  ...    0    0    0    0    0    0    0
2      1  1  0  0  1  0  0  0  0  0  ...    0    0    0    0    0    0    0
3      1  1  0  0  0  0  1  0  0  0  ...    0    0    0    0    0    0    0
4      1  0  0  1  0  0  0  0  0  0  ...    0    0    0    0    0    0    0
...   .. .. .. .. .. .. .. .. .. ..  ...  ...  ...  ...  ...  ...  ...  ...
16276  1  0  0  0  1  0  0  0  0  0  ...    0    0    0    0    0    0    0
16277  1  1  0  0  0  0  1  1  0  0  ...    0    0    0    0    0    0    0
16278  1  1  0  0  1  0  0  0  0  0  ...    0    0    0    0    0    0    0
16279  1  1  0  0  0  1  0  0  0  0  ...    0    0    0    0    0    0    0
16280  2  1  0  0  1  0  0  0  0  0  ...    0    0    0    0    0    0    0

       119  120  121
0        1    0    0
1        1    0    0
2        1    0    0
3        1    0    0
4        0    0    0
...    ...  ...  ...
16276    1    0    0
16277    1    0    0
16278    1    0    0
16279    1    0    0
16280    1    0    0

[48842 rows x 122 columns]
  original  transformed
0    <=50K            1
7     >50K            2

# car eval

In [6]:
data = pd.read_csv("datasets/car_evaluation/car.data", sep=',', skipinitialspace=True, header=None)

data = preprocess_numerical(data, target_label=6)
data = move_targets_to_front_and_rename(data= data, target_label=6)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)
#data.to_csv('datasets/car_evaluation/car_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/car_evaluation/mapping_transformation.csv', index=False)

['unacc' 'acc' 'vgood' 'good']
      y  1  2  3  4  5  6  7  8  9  ...  12  13  14  15  16  17  18  19  20  \
0     3  0  0  0  1  0  0  0  1  1  ...   0   1   0   0   0   0   1   0   1
1     3  0  0  0  1  0  0  0  1  1  ...   0   1   0   0   0   0   1   0   0
2     3  0  0  0  1  0  0  0  1  1  ...   0   1   0   0   0   0   1   1   0
3     3  0  0  0  1  0  0  0  1  1  ...   0   1   0   0   0   1   0   0   1
4     3  0  0  0  1  0  0  0  1  1  ...   0   1   0   0   0   1   0   0   0
...  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
1723  2  0  1  0  0  0  1  0  0  0  ...   1   0   0   1   0   1   0   0   0
1724  4  0  1  0  0  0  1  0  0  0  ...   1   0   0   1   0   1   0   1   0
1725  3  0  1  0  0  0  1  0  0  0  ...   1   0   0   1   1   0   0   0   1
1726  2  0  1  0  0  0  1  0  0  0  ...   1   0   0   1   1   0   0   0   0
1727  4  0  1  0  0  0  1  0  0  0  ...   1   0   0   1   1   0   0   1   0

      21
0      0
1      1
2      0
3      0
4      1
...   ..
1723   1
1724   0
1725   0
1726   1
1727   0

[1728 rows x 22 columns]
     original  transformed
0       unacc            3
227       acc            1
1097    vgood            4
1199     good            2

# seismic

In [10]:
data = pd.read_csv("datasets/seismic/seismic_data.txt", sep=',', skipinitialspace=True, header=None)

data = preprocess_numerical(data, target_label=18)
data = move_targets_to_front_and_rename(data= data, target_label=18)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']



data = make_data_binary(data)
print(data)
#data.to_csv('datasets/seismic/seismic_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/seismic/mapping_transformation.csv', index=False)

[0 1]
      y  1  2  3  4  5  6  7  8  9  ...  38  39  40  41  42  43  44  45  46  \
0     1  0  0  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
1     1  0  0  0  0  0  1  0  0  0  ...   0   1   1   1   0   1   0   0   1
2     1  0  0  0  0  0  1  0  0  1  ...   0   1   1   1   1   0   0   1   0
3     1  0  0  0  0  0  1  0  0  0  ...   0   1   1   1   0   1   0   0   1
4     1  0  0  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
...  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
2579  1  1  1  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
2580  1  1  1  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
2581  1  1  1  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
2582  1  0  1  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0
2583  1  0  1  0  0  0  1  0  0  0  ...   0   1   1   1   1   0   0   1   0

      47
0      0
1      0
2      0
3      0
4      0
...   ..
2579   0
2580   0
2581   0
2582   0
2583   0

[2584 rows x 48 columns]
    original  transformed
0          0            1
35         1            2

# wine

Hier sieht man Problem, wenn cass identifier integers und nicht binary sind

In [13]:
data = pd.read_csv("datasets/wine/wine.data", sep=',', skipinitialspace=True, header=None)

data = preprocess_numerical(data, target_label=0)

data = move_targets_to_front_and_rename(data= data, target_label=0)

print(data)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

"""
hier hat man gesehen, dass target vars auch categorical gemacht wurden, was zu problemen geführt hat.#
Das wurde mit der exclusion von der target label col in preprocess_numerical() behoben
"""

     y  1  2  3  4  5  6  7  8  9  10  11  12  13
0    1  4  1  3  0  4  3  4  1  4   3   2   4   4
1    1  2  2  0  0  2  3  3  0  1   2   3   4   4
2    1  2  3  4  2  2  3  4  1  4   3   2   3   4
3    1  4  2  3  0  4  4  4  0  4   4   1   4   4
4    1  2  3  4  3  4  3  3  2  3   2   2   3   2
..  .. .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..
173  3  3  4  3  3  2  1  0  4  0   4   0   0   2
174  3  3  4  3  4  3  1  0  3  1   4   0   0   3
175  3  2  4  1  2  4  0  0  3  1   4   0   0   3
176  3  2  3  2  2  4  0  0  4  2   4   0   0   3
177  3  4  4  4  4  2  1  0  4  1   4   0   0   1

[178 rows x 14 columns]
[1 2 3]

'\nhier hat man gesehen, dass target vars auch categorical gemacht wurden, was zu problemen geführt hat.#\nDas wurde mit der exclusion von der target label col in preprocess_numerical() behoben\n'

In [14]:
data = make_data_binary(data)
print(data)

#data.to_csv('datasets/wine/wine_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/wine/mapping_transformation.csv', index=False)

     y  1  2  3  4  5  6  7  8  9  ...  56  57  58  59  60  61  62  63  64  65
0    1  0  0  0  0  1  0  1  0  0  ...   0   0   0   0   1   0   0   0   0   1
1    1  0  0  1  0  0  0  0  1  0  ...   0   0   0   0   1   0   0   0   0   1
2    1  0  0  1  0  0  0  0  0  1  ...   0   0   0   1   0   0   0   0   0   1
3    1  0  0  0  0  1  0  0  1  0  ...   0   0   0   0   1   0   0   0   0   1
4    1  0  0  1  0  0  0  0  0  1  ...   0   0   0   1   0   0   0   1   0   0
..  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
173  3  0  0  0  1  0  0  0  0  0  ...   1   0   0   0   0   0   0   1   0   0
174  3  0  0  0  1  0  0  0  0  0  ...   1   0   0   0   0   0   0   0   1   0
175  3  0  0  1  0  0  0  0  0  0  ...   1   0   0   0   0   0   0   0   1   0
176  3  0  0  1  0  0  0  0  0  1  ...   1   0   0   0   0   0   0   0   1   0
177  3  0  0  0  0  1  0  0  0  0  ...   1   0   0   0   0   0   1   0   0   0

[178 rows x 66 columns]
     original  transformed
0           1            1
59          2            2
130         3            3

# spambase

In [15]:
data = pd.read_csv("datasets/spambase/spambase.data", sep=',', skipinitialspace=True, header=None)

#num_columns = data.shape[1]
#print(num_columns)

num_rows = data.shape[0]
print(num_rows)

data = preprocess_numerical(data, target_label=57)

data = move_targets_to_front_and_rename(data= data, target_label=57)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/spambase/spambase_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/spambase/mapping_transformation.csv', index=False)

4601
[1 0]
      y  1  2  3  4  5  6  7  8  9  ...  73  74  75  76  77  78  79  80  81  \
0     2  0  0  0  0  1  0  1  0  0  ...   0   0   0   0   1   0   0   0   1
1     2  1  0  1  1  0  0  1  0  0  ...   0   0   0   0   1   0   0   0   0
2     2  0  1  1  0  0  0  1  0  0  ...   0   0   0   0   1   0   0   0   0
3     2  0  1  0  1  1  0  0  0  0  ...   0   0   0   1   0   0   0   0   1
4     2  0  1  0  1  1  0  0  0  0  ...   0   0   0   1   0   0   0   0   1
...  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
4596  1  1  0  1  0  0  0  0  0  0  ...   1   0   0   0   0   0   0   1   0
4597  1  0  0  0  0  0  0  0  0  0  ...   1   0   0   0   0   1   0   0   0
4598  1  1  0  0  0  0  0  1  0  0  ...   0   1   0   0   0   0   0   1   0
4599  1  1  0  0  0  0  0  0  0  0  ...   1   0   0   0   0   0   0   1   0
4600  1  0  0  0  0  0  0  0  0  1  ...   1   0   0   0   0   0   1   0   0

      82
0      0
1      1
2      1
3      0
4      0
...   ..
4596   0
4597   0
4598   0
4599   0
4600   0

[4601 rows x 83 columns]
      original  transformed
0            1            2
1813         0            1

# wisconsin breast cancer

In [16]:
data = pd.read_csv("datasets/breast+cancer+wisconsin+diagnostic/wdbc.data", sep=',', skipinitialspace=True, header=None)

data.drop(data.columns[0], axis=1, inplace=True) #drop the id col; result in col 0 not existing. Should get fixed during binaring
#print(data)

#num_columns = data.shape[1]
#print(num_columns)

#num_rows = data.shape[0]
#print(num_rows)

data = preprocess_numerical(data, target_label=1)

data = move_targets_to_front_and_rename(data= data, target_label=1)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/breast+cancer+wisconsin+diagnostic/wdbc_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/breast+cancer+wisconsin+diagnostic/mapping_transformation.csv', index=False)

['M' 'B']
     y  1  2  3  4  5  6  7  8  9  ...  141  142  143  144  145  146  147  \
0    2  0  0  0  0  1  1  0  0  0  ...    0    0    0    0    1    0    0
1    2  0  0  0  0  1  0  1  0  0  ...    0    0    1    0    0    0    0
2    2  0  0  0  0  1  0  0  0  1  ...    0    0    0    0    1    0    0
3    2  0  1  0  0  0  0  0  0  1  ...    0    0    0    0    1    0    0
4    2  0  0  0  0  1  1  0  0  0  ...    1    0    0    0    0    0    1
..  .. .. .. .. .. .. .. .. .. ..  ...  ...  ...  ...  ...  ...  ...  ...
564  2  0  0  0  0  1  0  0  0  1  ...    1    0    0    0    0    0    1
565  2  0  0  0  0  1  0  0  0  0  ...    0    1    0    0    0    1    0
566  2  0  0  0  1  0  0  0  0  0  ...    1    0    0    0    0    0    0
567  2  0  0  0  0  1  0  0  0  0  ...    0    0    0    0    1    0    0
568  1  1  0  0  0  0  0  0  0  0  ...    0    0    1    0    0    0    1

     148  149  150
0      0    0    1
1      0    1    0
2      0    1    0
3      0    0    1
4      0    0    0
..   ...  ...  ...
564    0    0    0
565    0    0    0
566    1    0    0
567    0    0    1
568    0    0    0

[569 rows x 151 columns]
   original  transformed
0         M            2
19        B            1

# Nursery

In [18]:
data = pd.read_csv("datasets/nursery/nursery.data", sep=',', skipinitialspace=True, header=None)


num_columns = data.shape[1]
print(num_columns)

num_rows = data.shape[0]
print(num_rows)

data = preprocess_numerical(data, target_label=8)

data = move_targets_to_front_and_rename(data= data, target_label=8)

#num_columns = data.shape[1]
#print(num_columns)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/nursery/nursery_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/nursery/mapping_transformation.csv', index=False)

9
12960
['recommend' 'priority' 'not_recom' 'very_recom' 'spec_prior']
       y  1  2  3  4  5  6  7  8  9  ...  17  18  19  20  21  22  23  24  25  \
0      3  0  0  0  1  0  0  0  1  0  ...   0   1   0   0   1   0   0   0   0
1      2  0  0  0  1  0  0  0  1  0  ...   0   1   0   0   1   0   0   0   1
2      1  0  0  0  1  0  0  0  1  0  ...   0   1   0   0   1   0   0   1   0
3      3  0  0  0  1  0  0  0  1  0  ...   0   1   0   0   0   0   1   0   0
4      2  0  0  0  1  0  0  0  1  0  ...   0   1   0   0   0   0   1   0   1
...   .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
12955  4  1  1  0  0  0  0  0  0  1  ...   1   0   1   0   0   0   1   0   1
12956  1  1  1  0  0  0  0  0  0  1  ...   1   0   1   0   0   0   1   1   0
12957  4  1  1  0  0  0  0  0  0  1  ...   1   0   1   0   0   1   0   0   0
12958  4  1  1  0  0  0  0  0  0  1  ...   1   0   1   0   0   1   0   0   1
12959  1  1  1  0  0  0  0  0  0  1  ...   1   0   1   0   0   1   0   1   0

       26
0       1
1       0
2       0
3       1
4       0
...    ..
12955   0
12956   0
12957   1
12958   0
12959   0

[12960 rows x 27 columns]
        original  transformed
0      recommend            3
1       priority            2
2      not_recom            1
9     very_recom            5
2683  spec_prior            4

# Mushroom Agaricus lepiota

In [19]:
data = pd.read_csv("datasets/mushroom/agaricus-lepiota.data", sep=',', skipinitialspace=True, header=None)

num_columns = data.shape[1]
print(num_columns)

#num_rows = data.shape[0]
#print(num_rows)

data = preprocess_numerical(data, target_label=0)

data = move_targets_to_front_and_rename(data= data, target_label=0)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/mushroom/agaricus_lepiota_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/mushroom/mapping_transformation.csv', index=False)

23
['p' 'e']
      y  1  2  3  4  5  6  7  8  9  ...  103  104  105  106  107  108  109  \
0     2  1  1  0  1  0  0  0  0  0  ...    1    0    0    0    0    0    0
1     1  1  1  0  0  0  0  0  0  0  ...    0    0    0    0    1    0    0
2     1  1  1  0  0  0  1  0  0  0  ...    0    0    0    0    0    0    1
3     2  1  1  0  1  0  0  0  0  0  ...    1    0    0    0    0    0    0
4     1  0  1  1  0  1  0  0  0  0  ...    0    0    0    0    1    0    0
...  .. .. .. .. .. .. .. .. .. ..  ...  ...  ...  ...  ...  ...  ...  ...
8119  1  0  0  0  0  0  0  0  0  1  ...    0    0    0    0    0    1    0
8120  1  0  0  0  0  0  0  0  0  0  ...    0    1    0    0    0    1    0
8121  1  0  0  0  0  0  0  0  1  0  ...    0    0    0    0    0    1    0
8122  2  0  1  0  1  1  0  0  0  1  ...    0    1    0    0    0    1    0
8123  1  0  0  0  0  0  0  0  0  0  ...    0    0    0    0    0    1    0

      110  111  112
0       0    1    0
1       0    0    0
2       0    0    0
3       0    1    0
4       0    0    0
...   ...  ...  ...
8119    0    0    0
8120    0    0    0
8121    0    0    0
8122    0    0    0
8123    0    0    0

[8124 rows x 113 columns]
  original  transformed
0        p            2
1        e            1

# Banknote Authentication

In [ ]:
data = pd.read_csv("datasets/banknote+authentication/data_banknote_authentication.txt", sep=',', skipinitialspace=True, header=None)

num_columns = data.shape[1]
print(num_columns)

#num_rows = data.shape[0]
#print(num_rows)

data = preprocess_numerical(data, target_label=4)

data = move_targets_to_front_and_rename(data= data, target_label=4)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/banknote+authentication/banknote_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/banknote+authentication/mapping_transformation.csv', index=False)

5
[0 1]
      y  1  2  3  4  5  6  7  8  9  ...  11  12  13  14  15  16  17  18  19  \
0     1  0  0  0  0  1  0  0  0  0  ...   1   0   0   0   0   0   0   1   0
1     1  0  0  0  0  1  0  0  0  0  ...   1   0   0   0   0   0   1   0   0
2     1  0  0  0  0  1  0  1  0  0  ...   0   0   0   1   0   0   0   0   1
3     1  0  0  0  0  1  0  0  0  0  ...   1   0   0   0   0   1   0   0   0
4     1  0  0  1  0  0  1  0  0  0  ...   0   0   0   0   1   0   0   1   0
...  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
1367  2  0  0  1  0  0  0  0  1  0  ...   0   1   0   0   0   0   0   1   0
1368  2  0  1  0  0  0  1  0  0  0  ...   0   0   0   0   1   0   0   0   1
1369  2  1  0  0  0  0  1  0  0  0  ...   0   0   0   0   1   0   1   0   0
1370  2  1  0  0  0  0  1  0  0  0  ...   0   0   0   0   1   0   1   0   0
1371  2  1  0  0  0  0  0  1  0  0  ...   0   0   0   1   0   0   0   0   0

      20
0      0
1      0
2      0
3      0
4      0
...   ..
1367   0
1368   0
1369   0
1370   0
1371   1

[1372 rows x 21 columns]
     original  transformed
0           0            1
762         1            2

king rook vs. king pawn

In [ ]:
data = pd.read_csv("datasets/chess+king+rook+vs+king+pawn/kr-vs-kp.data", sep=',', skipinitialspace=True, header=None)

num_columns = data.shape[1]
print(num_columns)

#num_rows = data.shape[0]
#print(num_rows)

data = preprocess_numerical(data, target_label=36)

data = move_targets_to_front_and_rename(data= data, target_label=36)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

#data.to_csv('datasets/chess+king+rook+vs+king+pawn/kr-vs-kp_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/chess+king+rook+vs+king+pawn/mapping_transformation.csv', index=False)

37
['won' 'nowin']
      y  1  2  3  4  5  6  7  8  9  ...  29  30  31  32  33  34  35  36  37  \
0     2  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   1   1   0   0   1
1     2  0  0  0  0  1  0  0  0  0  ...   0   0   0   0   1   1   0   0   1
2     2  0  0  0  0  1  0  1  0  0  ...   0   0   0   0   1   1   0   0   1
3     2  0  0  0  0  0  0  0  0  1  ...   0   0   0   0   1   1   0   0   1
4     2  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   1   1   0   0   1
...  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
3191  1  1  0  0  0  0  0  1  0  0  ...   0   0   1   0   1   0   0   1   0
3192  1  1  0  0  0  0  0  1  0  0  ...   0   0   1   0   1   0   0   1   0
3193  1  1  0  0  0  0  0  1  0  0  ...   0   0   1   0   1   0   0   0   1
3194  1  1  0  1  0  0  0  1  0  0  ...   0   0   1   0   0   0   0   1   0
3195  1  1  0  1  0  0  0  1  0  0  ...   0   0   1   0   0   0   0   0   1

      38
0      0
1      0
2      0
3      0
4      0
...   ..
3191   0
3192   0
3193   0
3194   0
3195   0

[3196 rows x 39 columns]
    original  transformed
0        won            2
904    nowin            1

monk1

In [ ]:
train_data = pd.read_csv("datasets/monk+s+problems/monks-1.train", sep=' ', skipinitialspace=True, header=None)
test_data = pd.read_csv("datasets/monk+s+problems/monks-1.test", sep=' ', skipinitialspace=True, header=None)


len_train_data = len(train_data)

stacked = pd.concat([train_data, test_data], ignore_index=False)
#print(stacked)

stacked = stacked.drop(columns=[7])

print(stacked)


stacked = preprocess_numerical(stacked, target_label=0)
stacked = move_targets_to_front_and_rename(data= stacked, target_label=0)

unique_values = stacked['y'].unique()
print(unique_values)

target_vals_col_orig = stacked['y']


stacked = make_data_binary(stacked)
print(stacked)

stacked.to_csv('datasets/monk1/monk1_bin.csv', index=False)

target_vals_col_bin = stacked['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/monk1/mapping_transformation.csv', index=False)

     0  1  2  3  4  5  6
0    1  1  1  1  1  3  1
1    1  1  1  1  1  3  2
2    1  1  1  1  3  2  1
3    1  1  1  1  3  3  2
4    1  1  1  2  1  2  1
..  .. .. .. .. .. .. ..
427  1  3  3  2  3  2  2
428  1  3  3  2  3  3  1
429  1  3  3  2  3  3  2
430  1  3  3  2  3  4  1
431  1  3  3  2  3  4  2

[556 rows x 7 columns]
[1 0]
     y  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
0    2  0  0  1  0  0  1  0  0  1   0   0   0   0   1   0
1    2  0  1  1  0  0  1  0  0  1   0   0   0   0   1   0
2    2  0  0  1  0  0  1  0  0  0   0   1   0   1   0   0
3    2  0  1  1  0  0  1  0  0  0   0   1   0   0   1   0
4    2  1  0  1  0  0  1  0  0  1   0   0   0   1   0   0
..  .. .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..
427  2  1  1  0  0  1  0  0  1  0   0   1   0   1   0   0
428  2  1  0  0  0  1  0  0  1  0   0   1   0   0   1   0
429  2  1  1  0  0  1  0  0  1  0   0   1   0   0   1   0
430  2  1  0  0  0  1  0  0  1  0   0   1   0   0   0   1
431  2  1  1  0  0  1  0  0  1  0   0   1   0   0   0   1

[556 rows x 16 columns]
    original  transformed
0          1            2
10         0            1

monk2

In [11]:
train_data = pd.read_csv("datasets/monk+s+problems/monks-2.train", sep=' ', skipinitialspace=True, header=None)
test_data = pd.read_csv("datasets/monk+s+problems/monks-2.test", sep=' ', skipinitialspace=True, header=None) 


len_train_data = len(train_data)

stacked = pd.concat([train_data, test_data], ignore_index=False)
#print(stacked)

stacked = stacked.drop(columns=[7])

print(stacked)


stacked = preprocess_numerical(stacked, target_label=0)
stacked = move_targets_to_front_and_rename(data= stacked, target_label=0)

unique_values = stacked['y'].unique()
print(unique_values)

target_vals_col_orig = stacked['y']


stacked = make_data_binary(stacked)
print(stacked)

stacked.to_csv('datasets/monk2/monk2_bin.csv', index=False)

target_vals_col_bin = stacked['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/monk2/mapping_transformation.csv', index=False)

     0  1  2  3  4  5  6
0    0  1  1  1  1  2  2
1    0  1  1  1  1  4  1
2    0  1  1  1  2  1  1
3    0  1  1  1  2  1  2
4    0  1  1  1  2  2  1
..  .. .. .. .. .. .. ..
427  0  3  3  2  3  2  2
428  0  3  3  2  3  3  1
429  0  3  3  2  3  3  2
430  0  3  3  2  3  4  1
431  0  3  3  2  3  4  2

[601 rows x 7 columns]
[0 1]
     y  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
0    1  0  1  1  0  0  1  0  0  1   0   0   0   1   0   0
1    1  0  0  1  0  0  1  0  0  1   0   0   0   0   0   1
2    1  0  0  1  0  0  1  0  0  0   1   0   1   0   0   0
3    1  0  1  1  0  0  1  0  0  0   1   0   1   0   0   0
4    1  0  0  1  0  0  1  0  0  0   1   0   0   1   0   0
..  .. .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..
427  1  1  1  0  0  1  0  0  1  0   0   1   0   1   0   0
428  1  1  0  0  0  1  0  0  1  0   0   1   0   0   1   0
429  1  1  1  0  0  1  0  0  1  0   0   1   0   0   1   0
430  1  1  0  0  0  1  0  0  1  0   0   1   0   0   0   1
431  1  1  1  0  0  1  0  0  1  0   0   1   0   0   0   1

[601 rows x 16 columns]
    original  transformed
0          0            1
13         1            2

monk3

In [12]:
train_data = pd.read_csv("datasets/monk+s+problems/monks-3.train", sep=' ', skipinitialspace=True, header=None)
test_data = pd.read_csv("datasets/monk+s+problems/monks-3.test", sep=' ', skipinitialspace=True, header=None) 


len_train_data = len(train_data)

stacked = pd.concat([train_data, test_data], ignore_index=False)
#print(stacked)

stacked = stacked.drop(columns=[7])

print(stacked)


stacked = preprocess_numerical(stacked, target_label=0)
stacked = move_targets_to_front_and_rename(data= stacked, target_label=0)

unique_values = stacked['y'].unique()
print(unique_values)

target_vals_col_orig = stacked['y']


stacked = make_data_binary(stacked)
print(stacked)

stacked.to_csv('datasets/monk3/monk3_bin.csv', index=False)

target_vals_col_bin = stacked['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


unique_pairs.to_csv('datasets/monk3/mapping_transformation.csv', index=False)

     0  1  2  3  4  5  6
0    1  1  1  1  1  1  2
1    1  1  1  1  1  2  1
2    1  1  1  1  1  2  2
3    0  1  1  1  1  3  1
4    0  1  1  1  1  4  1
..  .. .. .. .. .. .. ..
427  0  3  3  2  3  2  2
428  0  3  3  2  3  3  1
429  0  3  3  2  3  3  2
430  0  3  3  2  3  4  1
431  0  3  3  2  3  4  2

[554 rows x 7 columns]
[1 0]
     y  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
0    2  0  1  1  0  0  1  0  0  1   0   0   1   0   0   0
1    2  0  0  1  0  0  1  0  0  1   0   0   0   1   0   0
2    2  0  1  1  0  0  1  0  0  1   0   0   0   1   0   0
3    1  0  0  1  0  0  1  0  0  1   0   0   0   0   1   0
4    1  0  0  1  0  0  1  0  0  1   0   0   0   0   0   1
..  .. .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..
427  1  1  1  0  0  1  0  0  1  0   0   1   0   1   0   0
428  1  1  0  0  0  1  0  0  1  0   0   1   0   0   1   0
429  1  1  1  0  0  1  0  0  1  0   0   1   0   0   1   0
430  1  1  0  0  0  1  0  0  1  0   0   1   0   0   0   1
431  1  1  1  0  0  1  0  0  1  0   0   1   0   0   0   1

[554 rows x 16 columns]
   original  transformed
0         1            2
3         0            1

Microbiome taxa easy

In [ ]:
data = pd.read_csv("datasets/microbiome/microbiome_taxa_counts_easy.csv", sep=',', skipinitialspace=True, header=None)

data.drop(index=data.index[0], axis=0, inplace=True)

#print(data)

num_columns = data.shape[1]
print(num_columns)

data = data.drop(columns=[0,1])

#print(data)


#num_rows = data.shape[0]
#print(num_rows)

data = preprocess_numerical(data, target_label=2)

data = move_targets_to_front_and_rename(data= data, target_label=2)

unique_values = data['y'].unique()
print(unique_values)

target_vals_col_orig = data['y']

data = make_data_binary(data)
print(data)

# Create the directory if it doesn't exist
os.makedirs(f'datasets/microbiome_taxa_counts_easy', exist_ok=True)

#data.to_csv('datasets/microbiome_taxa_counts_easy/microbiome_taxa_counts_easy_bin.csv', index=False)

target_vals_col_bin = data['y']

combined = pd.DataFrame({
    'original': target_vals_col_orig,
    'transformed': target_vals_col_bin
})

unique_pairs = combined.drop_duplicates()
print(unique_pairs)


#unique_pairs.to_csv('datasets/microbiome_taxa_counts_easy/mapping_transformation.csv', index=False)

2549
    2     3    4      5    6     7      8     9       10   11    ...  2539  \
1      0  48.0  1.0  22.68    0     0      0     0    4577    0  ...     0
2      0  51.0  1.0  23.23    0     0   1309     0  102121    0  ...     0
3      0  29.0  0.0  23.73    0     0    230     0    1917    0  ...    44
4      0  49.0  0.0  22.19    0     0   1909  3283     394    0  ...     0
5      0  60.0  1.0  23.53    0     0      0     0     748    0  ...    59
..   ...   ...  ...    ...  ...   ...    ...   ...     ...  ...  ...   ...
185    1  39.0  0.0   25.1    0     0      0     0   24776    0  ...   557
186    1  49.0  1.0  17.92    0  1610   4991     0    9524    0  ...   422
187    1  48.0  1.0  23.44    0     0     11     0     191    0  ...  1039
188    1  76.0  1.0  21.51    0     0  16325     0    1190    0  ...     0
189    1  42.0  0.0  22.27    0     0      0     0    3313    0  ...   331

    2540 2541 2542 2543 2544 2545 2546 2547 2548
1    131    0    0    0    0    0    0    0    0
2     47    0    0    0    0    0    0    0    0
3      0    0    0    0    0    0    0    0    0
4     28    0    0    0    0    0    0    0    0
5     40    0    0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
185  135    0    0    0    0    0    0    0    0
186  173    0    0    0    0    0    0    0    0
187   54    0    0    0    0    0    0    0    0
188   29    0    0    0    0    0    0    0    0
189   14    0    0    0    0    0    0    0    0

[189 rows x 2547 columns]

"\n#num_rows = data.shape[0]\n#print(num_rows)\n\ndata = preprocess_numerical(data, target_label=2)\n\ndata = move_targets_to_front_and_rename(data= data, target_label=2)\n\nunique_values = data['y'].unique()\nprint(unique_values)\n\ntarget_vals_col_orig = data['y']\n\ndata = make_data_binary(data)\nprint(data)\n\n# Create the directory if it doesn't exist\nos.makedirs(f'datasets/microbiome_taxa_counts_easy', exist_ok=True)\n\ndata.to_csv('datasets/microbiome_taxa_counts_easy/microbiome_taxa_counts_easy_bin.csv', index=False)\n\ntarget_vals_col_bin = data['y']\n\ncombined = pd.DataFrame({\n    'original': target_vals_col_orig,\n    'transformed': target_vals_col_bin\n})\n\nunique_pairs = combined.drop_duplicates()\nprint(unique_pairs)\n\n\nunique_pairs.to_csv('datasets/microbiome_taxa_counts_easy/mapping_transformation.csv', index=False)\n"